body {
  background-color: white;
}

table {
  width: 600px;
  height: 400px;
  margin: auto;
  border-spacing: 0px;
}

table, td {
  border: 1px solid black;
  text-align: center;
}

.vd {
  background-color: rgb(6, 109, 6);
  color: white;
}

.br {
    background-color: white;
}